<h4 style="margin-top:10px;">Customer Details</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>Coupon Amount</th>
      <th> Total Amount </th>
      <% if controller.action_name == 'list_silver_customers' %>
        <th>Got silver coin?</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @valid_customers.each do |c| %>
      <tr>
        <td><%=c['name'] %></td>
        <td><%=c['mobile']%></td>  
        <td><%=c['coupon_amount'] || c['sum'] %></td>
        <td><%=c['total_sum'] || c['total_amount'] %></td>
        <% if controller.action_name == 'list_silver_customers' %>
          <td><%=c['got_silver'] == 'f'? "No" : "YES" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
